.header-wrapper {
    @extend %flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        width: 200px;
        max-height: 80px;
        a {
            display: block;
        }
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    padding: 20px 0;
    @media screen and (max-width:450px) {
        .logo {
            width: 160px;
        }
        .right-area {
            .cmn-btn {
                font-size: 12px;
                line-height: 32px;
                padding: 0 12px;
                @include border-radius(2px);
            }
            .select-bar {
                .current {
                    font-size: 12px;
                }
            }
        }
        .header-bar {
            margin-right: 0;
        }
    }
}
header {
    z-index: 999;
}
.menu {
    @extend %flex;
    font-family: $heading;
    font-weight: 500;
    li {
        padding: 0;
        a {
            padding: 5px 15px;
            font-weight: 500;
            text-decoration: none;
            color: $white-color;
        }
        @include breakpoint(lg) {
            .submenu {
                position: absolute;
                top: calc(100% + 10px);
                left: 0;
                min-width: 220px;
                background: $section-bg;
                @include transition($transition);
                opacity: 0;
                visibility: hidden;
                li {
                    a {
                        display: flex;
                        justify-content: space-between;
                        padding: 5px 20px;
                        border-bottom: 1px solid rgba($color:$title-color, $alpha:.09);
                        font-weight: 400;
                        color: $title-color;
                    }
                    .submenu {
                        left: 100%;
                        top: 10px;
                    }
                    &:hover>.submenu {
                        top: 0;
                    }
                    &:hover >a {
                        background: $base-color;
                        color: $white-color;
                        padding-left: 22px;
                    }
                }
            }
            &:hover {
                >.submenu {
                    top: 100%;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    @include breakpoint(max-lg) {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 9;
        background: $section-bg;
        overflow: auto;
        max-height: calc(100vh - 100px);
        @include transition($transition);
        @include transform(scaleY(0));
        transform-origin: top;
        display: block;
        &.active {
            @include transform(scaleY(1));
        }
        li {
            padding: 0;
            border-bottom: 1px solid transparent;
            &.open {
                ul {
                    li {
                        &:last-child {
                            border-color: rgba($color:$title-color, $alpha:.1);
                        }
                    }
                }
            }
            a {
                display: flex;
                color: $title-color;
                justify-content: space-between;
                border-bottom: 1px solid rgba($color:$title-color, $alpha:.1);
                padding: 5px 20px;
                font-size: 16px;
            }
            &:last-child {
                >a {
                    border: none;
                }
            }
            .submenu {
                padding-left: 20px;
                display: none;
                li {
                    a {
                        font-size: 14px;
                    }
                }
            }
            .cmn-btn {
                border: 1px solid rgba($color:$title-color, $alpha:.09) !important;
                font-size: 14px;
                line-height: 40px;
                justify-content: center;
            }
        }
    }
    @include breakpoint(lg) {
        margin-left: auto;
    }
}
.header-section {
    position: relative;
    .header-bottom {
        position: fixed;
        left: 0;
        width: 100%;
        z-index: 99;
        @include transition($transition);
        border-bottom: 1px solid rgba($color:$white-color, $alpha:.2);
        transition: all ease .5s;
        -webkit-transition: all ease .5s;
        -moz-transition: all ease .5s;
    }
    &.active {
        .header-bottom {
            background: $section-bg;
            top: 0 !important;
        }
    }
}
.dark-logo {
    display: none;
}
.menu-item-has-children {
    position: relative;
    z-index: 999 !important;
    >a {
        align-items: center;
        &::after {
            content: "\f107";
            font-weight: 600;
            font-family: "Line Awesome Free";
            margin-left: 5px;
        }
    }
    @include breakpoint(lg) {
        &.open {
            .submenu {
                display: block !important;
            }
        }
        .submenu {
            display: block !important;
        }
    }
}
.header-bar {
    position: relative;
    cursor: pointer;
    width: 25px;
    height: 20px;
    @include breakpoint(sm) {
        margin-right: 20px;
    }
    @include breakpoint(lg) {
        display: none;
    }
    span {
        position: absolute;
        display: inline-block;
        height: 3px;
        width: 100%;
        @include transition($transition);
        background-color: $white-color;
        left: 0;
        &:first-child {
            top: 0;
        }
        &:nth-child(2) {
            top: 52%;
            transform: translateY(-65%);
        }
        &:last-child {
            bottom: 0;
        }
    }
    &.active {
        span {
            &:first-child {
                @include transform(rotate(45deg) translate(3px, 9px));
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:last-child {
                @include transform(rotate(-45deg)translate(3px, -9px));
            }
        }
    }
    @include breakpoint(max-md) {
        margin-left: 0;
    }
}
.header-top {
    position: relative;
    z-index: 100;
    .header-top-area {
        @extend %flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        li {
            &:first-child {
                padding-right: 10px;
            }
            &.links {
                border-left: 1px solid rgba($color:$white-color, $alpha:.302);
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                min-height: 45px;
                position: relative;
                a {
                    text-decoration: none;
                    padding: 5px 20px;
                    color: $white-color;
                }
                i {
                    margin-right: 7px;
                }
                &:last-child {
                    border-right: 1px solid rgba($color:$white-color, $alpha:.302);
                }
            }
        }
    }
}
.select-bar {
    height: 35px !important;
    display: block;
    border-radius: 5px;
    border: 1px solid rgba($color:$white-color, $alpha: .302);
    width: 90px;
    select {
        height: 35px;
        border: none;
        background: transparent !important;
        padding: 0 10px;
        font-size: 14px;
        color: $white-color;
        option {
            color: $black-color;
        }
    }
    @include breakpoint(max-sm) {
        margin: 0 10px;
        width: 85px;
        select {
            padding: 0 5px;
        }
    }
    @include breakpoint(max-lg) {
        margin-left: auto;
    }
}
.dashboard-dashboard-icon {
    position: relative;
    padding: 5px;
    .avatar {
        width: 42px;
        height: 42px;
        @include border-radius(50%);
        overflow: hidden;
        cursor: pointer;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .dashboard-menu {
        position: absolute;
        top: 100%;
        right: 0;
        min-width: 220px;
        background: $section-bg;
        @include transition($transition);
        opacity: 0;
        visibility: hidden;
        border: 1px solid rgba($color:$white-color, $alpha: .1);
        li {
            padding: 0 !important;
            a {
                display: flex;
                justify-content: space-between;
                padding: 5px 20px;
                border-bottom: 1px solid rgba($color:$title-color, $alpha:.09);
                font-weight: 400;
                color: $title-color;
            }
            &:hover >a {
                background: $base-color;
                color: $white-color;
                padding-left: 22px;
            }
        }
    }
    &:hover {
        .dashboard-menu {
            opacity: 1;
            visibility: visible;
        }
    }
}